{% extends 'ui/base.html'%}
{% block title %} Password Reset {% endblock %}

{% block content %}
    <div class="max-w-6xl mx-auto py-10 px-4 flex align-center justify-center items-center">

        <div class="bg-green-100 border-red-400 text-green-700 px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold">
                Success!
            </strong>
            <span class="block sm:inline">Your password has been reset. You can now <a href="/signin" class="underline">sign in here</a></span>
        </div>

    </div>
{% endblock %}