{% extends 'ui/signin_base.html'%}
{% load i18n %}
{% block title %} {% translate "Sign In" %} {% endblock %}

{% block signin_content %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-4">
            <label for="username" class="block text-gray-700 dark:text-gray-300 mb-2">{% translate "Username" %}</label>
            <input type="text" name="username" id="username" class="w-full p-2 border dark:bg-gray-800 dark:border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="{% blocktranslate %}Enter username{% endblocktranslate %}" required>
        </div>
        <div class="mb-6">
            <label for="password" class="block text-gray-700 dark:text-gray-300 mb-2">{% translate "Password" %}</label>
            <input type="password" name="password" id="password" class="w-full p-2 border dark:bg-gray-800 dark:border-gray-900 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="{% blocktranslate %}Enter password{% endblocktranslate %}" required>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600">{% translate "Sign In" %}</button>
    </form>
    <p class="text-center text-gray-600 dark:text-gray-400 mt-4">Don’t have an account? <a href="/signup{{ next }}" class="text-blue-500 dark:text-blue-400 hover:underline">{% translate "Sign Up" %}</a></p>
    <p class="text-center text-gray-600 mt-4"><a href="{% url 'password_reset' %}" class="text-blue-500 hover:underline">{% translate "Forgot password?" %}</a></p>
{% endblock %}