{% extends 'ui/setup/stepbase.html' %}
{% load static %}
{% block title %} Add Car {% endblock %}

{% block setup %}
        <div id="messages" class="mb-6">
            {% if messages %}
                {% for message in messages %}
                    <div class="{% if message.tags == 'error' %}bg-red-100 border-red-400 text-red-700{% endif %} px-4 py-3 rounded relative {% if message.tags == 'success' %}bg-green-100 border-green-400 text-green-700{% endif %} {% if message.tags == 'info' %}bg-blue-100 border-blue-400 text-blue-700{% endif %}" role="alert">
                        <strong class="font-bold">
                            {% if message.tags == 'success' %}Success!{% endif %}
                            {% if message.tags == 'error' %}Error!{% endif %}
                            {% if message.tags == 'info' %}Notice:{% endif %}
                            {% if message.tags == 'warn' %}Warning:{% endif %}
                        </strong>
                        <span class="block sm:inline">{{ message }}</span>
                        <span class="absolute top-0 bottom-0 right-0 px-4 py-3 cursor-pointer" onclick="this.parentElement.style.display='none';">
                            <svg class="fill-current h-6 w-6" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <title>Close</title>
                                <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                            </svg>
                        </span>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-lg font-semibold text-gray-800 mb-4">Let's gather information about your TCU Unit</h2>
        <p>It's time to hop in your LEAF and find identifiers that are unique to your car. Start your car and follow steps to get identifiers from navigation system:</p>
        <img src="{% static 'unitid.png' %}" class="pt-4 w-200"/>
        <ul class="mt-4">
            <li>1. Press the hard button labeled Menu</li>
            <li>2. Press the “CARWINGS” soft button on the center display screen.</li>
            <li>3. Press the “CARWINGS Settings” soft button on the center display screen.</li>
            <li>4. Scroll down if necessary and press “Unit ID information” soft button on the center display screen.</li>
            <li>5. Write down identifiers Unit ID, TCU ID, SIM ID and VIN. Then enter them to the form below</li>
        </ul>
        <form method="post" class="mt-5">
            {% csrf_token %}
            <label class="block text-gray-700">Unit ID</label>
            <input type="text" placeholder="xxxx-xxxxxxxx" maxlength="14" name="unit_id" class="w-full p-2 border rounded mt-1" required>
            <label class="block text-gray-700 mt-1 ">TCU ID</label>
            <input type="text" placeholder="xxxx-xxxxxxxx" maxlength="14" name="tcu_id" class="w-full p-2 border rounded mt-1" required>
            <label class="block text-gray-700 mt-1 ">SIM ID</label>
            <input type="text" placeholder="xxxxxxxxxxxxxxxxxxxxxx"  maxlength="22" name="sim_id" class="w-full p-2 border rounded mt-1" required>
            <label class="block text-gray-700 mt-1">VIN</label>
            <input type="text" placeholder="xxxxxxxxxxxxxxxxx" maxlength="17" name="vin" class="w-full p-2 border rounded mt-1" required>
            <div class="mt-12 w-full flex flex-row align-end items-end justify-end gap-4">
                <button type="submit" href="/setup/step2" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Save</button>
            </div>
        </form>
    </div>
{% endblock %}
